{% include 'autogen_header.j2' %}

#import <Foundation/Foundation.h>

#ifdef __cplusplus
#import "Tokens.h"
#endif

NS_ASSUME_NONNULL_BEGIN

typedef NS_ENUM(NSUInteger, CHSemanticToken)
{
{%- for token in tokens %}
    {{utils.to_apple_token(token.cc_name)}}{{ "," if not loop.last }}
{%- endfor %}
};

#ifdef __cplusplus

SemanticVisuals::Token CHSemanticTokenToCPP(CHSemanticToken token);

#endif

NS_ASSUME_NONNULL_END
